[Unit]
Description=Run remote-disk-poll every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
RandomizedDelaySec=5

[Install]
WantedBy=timers.target
